name: Build and Release

on:
  push:
    tags:
      - "*.*.*.*"

jobs:
  Build:
    runs-on: ubuntu-latest
    env:
      DALAMUD_HOME: /tmp/dalamud
      DALAMUD_ARCHIVE_URL: ${{ vars.DALAMUD_ARCHIVE_URL || 'https://goatcorp.github.io/dalamud-distrib/latest.zip' }}
    steps:
      - name: Checkout Repository

      - name: Set up .NET
        with:
          dotnet-version: 9.0.x
          
      - name: Download Dalamud Latest
        run: |
          wget ${{ env.DALAMUD_ARCHIVE_URL }} -O ${{ env.DALAMUD_HOME }}.zip
          unzip ${{ env.DALAMUD_HOME }}.zip -d ${{ env.DALAMUD_HOME }}

      - name: Restore Project
        run: dotnet restore

      - name: Build Project
        run: dotnet build --configuration Release Quack/Quack.csproj -p:AssemblyVersion=${{ github.ref_name }}

      - name: Publish Document
        uses: shrink/actions-document-publish@v1
        id: publish-document
        with:
           sources: TUTORIAL.md

      - name: Create Release
        uses: actions/create-release@v1
        id: create_release
        with:
          draft: false
          prerelease: false
          release_name: ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Upload Release Archive
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: Quack/bin/Release/Quack/latest.zip
          asset_name: Quack.zip
          asset_content_type: application/zip
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Upload Release Document
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.publish-document.outputs.pdf }}
          asset_name: Tutorial.pdf
          asset_content_type: application/pdf
        env:
          GITHUB_TOKEN: ${{ github.token }}